<section class="d-flex justify-content-center shopping-cart-container">
    <section class="mt-5 d-flex flex-column">
        <article class="d-flex bg-info text-light rounded p-2 cart-item m-2">
            <img src="../../assets/hp.png" alt="Picture" class="item-image" />
            <span class="m-2 item-description">Very fast hp laptop that is very fast because edi si kakvo Very fast hp laptop that is very fast because edi si kakvo Very fast hp laptop that is very fast because edi si kakvo</span>
            <article class="d-flex ml-auto">
                <input type="number" class="align-self-center border bg-light text-dark p-2 item-count" />
                <a href="#" class="align-self-end nav-link text-dark">X</a>
            </article>
        </article>
        <article class="d-flex bg-info text-light rounded p-2 cart-item m-2">
            <img src="../../assets/hp.png" alt="Picture" class="item-image" />
            <span class="m-2 item-description">Very fast hp laptop that is very fast because edi si kakvo Very fast hp laptop that is very fast because edi si kakvo Very fast hp laptop that is very fast because edi si kakvo</span>
            <article class="d-flex ml-auto">
                <input type="number" class="align-self-center border bg-light text-dark p-2 item-count" />
                <a href="#" class="align-self-end nav-link text-dark">X</a>
            </article>
        </article>
        <article class="d-flex bg-info text-light rounded p-2 cart-item m-2">
            <img src="../../assets/hp.png" alt="Picture" class="item-image" />
            <span class="m-2 item-description">Very fast hp laptop that is very fast because edi si kakvo Very fast hp laptop that is very fast because edi si kakvo Very fast hp laptop that is very fast because edi si kakvo</span>
            <article class="d-flex ml-auto">
                <input type="number" class="align-self-center border bg-light text-dark p-2 item-count" />
                <a href="#" class="align-self-end nav-link text-dark">X</a>
            </article>
        </article>
        <article class="total bg-light rounded align-self-end m-2 d-flex justify-content-between">
            <article class="m-3">
                <span><b>Total: </b></span><span>205 $</span>
            </article>
            <article>
                <input class="btn btn-info align-self-end m-2" type="button" value="Order">
            </article>
        </article>
    </section>
</section>