<section class="container mt-5">
    <section class="d-flex justify-content-center h-100">
        <section class="card">
            <section class="card-header">
                <h3 *ngIf="!register">Sign In</h3>
                <h3 *ngIf="register">Register</h3>
                <article *ngIf="!register" class="d-flex justify-content-end socialicon-wrapper">
                    <img class="social-icon bg-light d-flex align-items-center p-2 m-1" src="../assets/facebook.png" alt="facebook">
                    <img class="social-icon bg-light d-flex align-items-center p-2 m-1" src="../assets/google-plus.png" alt="Google">
                    <img class="social-icon bg-light d-flex align-items-center p-2 m-1" src="../assets/twitter.png" alt="Twitter">
                </article>
            </section>
            <section class="card-body">
                <form>
                    <article class="input-group form-group">
                        <article class="input-group-prepend input-wrap bg-light d-flex align-items-center p-2">
                            <img class="input-icon" src="../assets/user.png" alt="User">
                        </article>
                        <input name="username" type="text" class="form-control" placeholder="Username">

                    </article>
                    <article class="input-group form-group">
                        <article class="input-group-prepend input-wrap bg-light d-flex align-items-center p-2">
                            <img class="input-icon" src="../assets/password-key.png" alt="Password">
                        </article>
                        <input name="password" type="password" class="form-control" placeholder="Password">
                    </article>
                    <article *ngIf="register" class="input-group form-group">
                        <article class="input-group-prepend input-wrap bg-light d-flex align-items-center p-2">
                            <img class="input-icon" src="../assets/password-key.png" alt="Confirm Password">
                        </article>
                        <input name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password">
                    </article>
                    <article *ngIf="!register" class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </article>
                    <article class="form-group">
                        <input type="submit" [value]="register ? 'Register' : 'Login'" class="btn btn-light float-right login_btn">
                    </article>
                </form>
            </section>
            <section *ngIf="!register" class="card-footer">
                <article class="d-flex justify-content-center links">
                    <b>Don't have an account?</b><a class="ml-1 text-light" routerLink="/register">Sign Up</a>
                </article>
                <article class="d-flex justify-content-center">
                    <a class="ml-1 text-light" routerLink="/forgotpassword">Forgot your password?</a>
                </article>
            </section>
        </section>
    </section>
</section>