<section class="d-flex justify-content-center align-items-center h-75">
    <section class="w-50 h-50 shadow bg-info border text-light">
        <h1 class="text-center mt-2">Contact us</h1>
        <article>
            <p class="ml-5 h4">
                <img src="../../assets/email.png" alt="Email:" class="icon mr-2">
                <b>techoutletsupport@gmail.com</b>
            </p>
            <p class="ml-5 h4">
                <img src="../../assets/call.png" alt="Call:" class="icon mr-2">
                <b>0899645918</b>
            </p>
        </article>
        <article class="border-top">
            <h3 class="ml-5 mt-2 text-dark">Fast message</h3>
            <article class="d-flex align-items-center">
                <textarea name="message" id="" rows="2" class="w-75 mt-2 ml-5"></textarea>
                <img src="../../assets/send.png" alt="Send" class="icon ml-3 send-btn">
            </article>
        </article>
    </section>
</section>