/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #d0d7df;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #d0d7df;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

body::before {
    content: "";
    background: url("./assets/maxresdefault.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}

.icon {
    width: 2rem;
}
